<div class="jumbotron jumbotron-fluid">
<p>At Music Bird, we are shaping the future of entertainment and changing the way more than 
  139 million subscribers around the world enjoy entertainment. Our international efforts 
  have brought Music Bird to virtually all countries and we’re excited to bring even more of 
  our Originals programming to our viewers around the globe. It’s an exciting time to work 
  at Music Bird.<p>
<p>  
  Our growing global Music Business & Legal Affairs Group is looking for a new member to 
  join the team: a Manager, Music Licensing who shares our passion for music and the 
  entertainment industry to help support our expanding slate of Music Bird Original content. 
  Someone who seeks out and thrives in an environment where freedom and responsibility are 
  a tenet, and passion, innovation and curiosity are mandates 
  (https://jobs.Music Bird.com/culture). A stunning and selfless colleague for whom no task 
  is too small or insurmountable.
  </p>
<p> 
  The Music Business & Legal Affairs Group is based in Los Angeles, London and Berlin and 
  is responsible for all of Music Bird’s global music business affairs, legal affairs and 
  strategy, from the production and licensing of Music Bird Originals through to the 
  distribution of the Music Bird service globally. This role is based in our Los Angeles 
  office and reports to the Manager, Music Licensing in the Los Angeles office who leads 
  the Music Licensing team. </p>
<p>
  As a Music Licensing expert you love music and everything about the music process for 
  film, series and documentaries. You know everyone in the industry: the record companies, 
  the publishers, the indies, the music supervisors, music libraries, production houses, 
  music editors, artists, songwriters and managers. You think having several different 
  licenses (synch and master) for the same work makes complete sense, you’re used to 
  clearing compositions with as many as 5 or more publishers, and you’re not fazed by 
  split territory deals. You know who to contact for that obscure track from the 1970s and 
  you’re ready with alternate tracks to suggest if it doesn’t clear. The music production 
  process for original content is second nature to you - from script to budget to music 
  clearance to on-camera through to delivery, reviewing/negotiating form licenses and 
  reviewing/compiling/submitting cue sheets - you’ve mastered that and feel comfortable 
  working independently through the process.</p>
</div>

